# Bloquear archivos pesados que agotan la cuota
*.zip
*.rar
*.7z
*.tar
*.gz
*.blend1
*.blend
*.py.backup
s
# Carpetas de dependencias y sistema
node_modules/
__pycache__/
.svn/
.hg/
dist/
build/
.next/
.venv/
venv/
env/

.antigravityignore

# Archivos multimedia y binarios (Muy importante)
*.mp4
*.jpg
*.jpeg
*.png
*.gif
*.pdf
*.exe
*.dll
*.so
*.ipynb_checkpoints/

# Archivos de base de datos
*.sqlite
*.db